* {
    margin:0px;
    padding:0px;
}
a {
    color:black;
    text-decoration: none;
}
a:hover {
    color:orange;
}

body {
    min-width:800px;
    max-width:2000px;
    display:flex;
    flex-direction: column;
    white-space: nowrap;
}
@media screen and (min-width:800px) {
    body {
        overflow-x:hidden;
    }
}
nav {
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
}
nav div.logo {
    width:150px;
    padding-right:50px;
    font-size:50px;
}
nav div.menu {
    width:600px;
    height:60px;
}
nav div.menu span {
    display:inline-block;
    width:200px;
    padding-top:28px;
}
